@charset "utf-8";
* {
	margin:0;
	padding:0;
}

#wrapper{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#container{
	margin-top:30px;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	_display:inline;
	float:left;
}

h1{
	width:300px;
}

#sns-button{
	margin-top:10px;
}
