@charset "utf-8";
#main{
	margin:0 auto;
}

#main-image{
	width:600px;
	height:500px;
}

#sub{
	margin-top:30px;
	margin-right:auto;
	margin-left:auto;
	clear:both;
}

#sub li{
	list-style:none;
	float:left;
	background:#fff;
	padding-right:34px;
}

.sub-image{
	border:1px solid #a9a9a9; 
	width:70px;
	height:70px;
}
